* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 250px;
}

header {
    height: 300px;
    padding-top: 50px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.name-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden; 
    border-right: .15em solid rgb(0, 0, 0); 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
        typing 2.5s steps(30, end),
      blink-caret .75s step-end infinite;
}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 17% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 0, 0) }
  }


.main-nav,
.main {
    position: relative;
}

.main-nav {
    background: #fff;
    height: 80px;
    z-index: 150;
    margin-bottom: -80px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

.main-nav a {
    position: relative;
    top: 33%;
    left: 80%;
    transform: translate(-50%, -50%);
    padding-left: 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1rem;
}

header,
.main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
}

.main {
    background: #ddd;
    padding: 110px 50px 50px;
    padding-bottom: 75rem;
}

.logo-home-image {
    height: 60px;
    position: absolute;
    top: 10px;
    right: 1820px;
}

.aboutme-section {
    padding-top: 5rem;
    padding-bottom: 10rem;
}
.projects-section {
    padding-top: 5rem;
    padding-bottom: 10rem;
}
.skills-section {
    padding-top: 5rem;
    padding-bottom: 10rem;
}
.more-section {
    padding-top: 5rem;
    padding-bottom: 10rem;
}
.resume-section {
    padding-top: 5rem;
    padding-bottom: 10rem;
}