.headerLinks {
    display: flex;
    position: fixed; 
    top: 0; 
    width: 100%; 
}

.header-links {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 65%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
}

.logo-home-image {
    height: 60px;
    position: absolute;
    top: -30px;
    right: -1180px;
}