.headerLinks {
    display: flex;
    background-color: var(--color1);
    overflow: hidden;
    background-color: #B0A1BA;
    position: fixed; 
    top: 0; 
    width: 100%; 
}

.header-links {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  
  }
